<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ROBIN</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
    <style>
    .form-switch .form-check-input {width: 6em; height: 3em; border-width: 0.33em;}
    body{
        background-color: #F0F0F0;
    }
    </style>
</head>
<body cz-shortcut-listen="true">
    
    <!-- <div id="device-load-status" class="spinner-border position-absolute top-50 start-50" role="status"></div> -->

    <div class="container-fluid text-center">
        <div class="row my-3">
            <div class="col-12 text-start">
                <h1 id="toggleFullscreen">My Devices</h1>
            </div>
        </div>
        
        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 my-2 border-bottom"></div>
        
        <div class="row">
            <div id="living-list" class="row text-start">
                <h3>Living &amp; Dining Room</h3>
                    <!-- DEVICE LIST -->
            
                            <div class="col-3 my-3">
                                <div class="shadow card">
                                    <div class="card-body">
                                        <i class="bi bi-lamp mx-1" style="font-size: 6rem;"></i>
                                        <div class="form-check form-switch float-end">
                                            <input class="form-check-input" type="checkbox" role="switch" id="diningroom1">
                                            <label class="form-check-label" for="diningroom1"></label>
                                            <input type="hidden" id="deviceAddr_diningroom1" value="192.168.1.42">
                                            <input type="hidden" id="deviceMac_diningroom1" value="5c:62:8b:de:17:17">
                                            <input type="hidden" id="deviceModel_diningroom1" value="KL125(US)">
                                        </div>
                                        <h3 class="card-title mt-3">Dining Room 1</h3>
                                        <!-- <div class="progress w-100" role="progressbar" aria-label="Example with label" aria-valuenow="5" aria-valuemin="0" aria-valuemax="100">
                                            <div class="progress-bar" style="width:5%; background-color: #ffd452b8;"></div>
                                        </div>
                                        <p class="card-text">0 Watts</p> -->
                                        <label for="setBrightness_diningroom1" class="form-label">Brightness</label>
                                        <input type="range" class="form-range brightness-input" min="0" max="100" step="1" value="100" id="setBrightness_diningroom1">
                                    </div>
                                </div>
                            </div>
                            <div class="col-3 my-3">
                                <div class="shadow card">
                                    <div class="card-body">
                                        <i class="bi bi-lamp mx-1" style="font-size: 6rem;"></i>
                                        <div class="form-check form-switch float-end">
                                            <input class="form-check-input" type="checkbox" role="switch" id="diningroom2">
                                            <label class="form-check-label" for="diningroom2"></label>
                                            <input type="hidden" id="deviceAddr_diningroom2" value="192.168.1.153">
                                            <input type="hidden" id="deviceMac_diningroom2" value="5c:62:8b:de:28:af">
                                            <input type="hidden" id="deviceModel_diningroom2" value="KL125(US)">
                                        </div>
                                        <h3 class="card-title mt-3">Dining Room 2</h3><div class="progress w-100" role="progressbar" aria-label="Example with label" aria-valuenow="5" aria-valuemin="0" aria-valuemax="100">
                                                <div class="progress-bar" style="width:5%; background-color: #ffd452b8;"></div>
                                            </div>
                                            <p class="card-text">0 Watts</p>
                                             </div>
                                </div>
                            </div>
                            <div class="col-3 my-3">
                                <div class="shadow card">
                                    <div class="card-body">
                                        <i class="bi bi-lamp mx-1" style="font-size: 6rem;"></i>
                                        <div class="form-check form-switch float-end">
                                            <input class="form-check-input" type="checkbox" role="switch" id="diningroom3">
                                            <label class="form-check-label" for="diningroom3"></label>
                                            <input type="hidden" id="deviceAddr_diningroom3" value="192.168.1.152">
                                            <input type="hidden" id="deviceMac_diningroom3" value="5c:62:8b:de:28:ae">
                                            <input type="hidden" id="deviceModel_diningroom3" value="KL125(US)">
                                        </div>
                                        <h3 class="card-title mt-3">Dining Room 3</h3><div class="progress w-100" role="progressbar" aria-label="Example with label" aria-valuenow="5" aria-valuemin="0" aria-valuemax="100">
                                                <div class="progress-bar" style="width:5%; background-color: #ffd452b8;"></div>
                                            </div>
                                            <p class="card-text">0 Watts</p>
                                             </div>
                                </div>
                            </div>
                            <div class="col-3 my-3">
                                <div class="shadow card">
                                    <div class="card-body">
                                        <i class="bi bi-lamp mx-1" style="font-size: 6rem;"></i>
                                        <div class="form-check form-switch float-end">
                                            <input class="form-check-input" type="checkbox" role="switch" id="diningroom4">
                                            <label class="form-check-label" for="diningroom4"></label>
                                            <input type="hidden" id="deviceAddr_diningroom4" value="192.168.1.113">
                                            <input type="hidden" id="deviceMac_diningroom4" value="40:ed:00:90:27:76">
                                            <input type="hidden" id="deviceModel_diningroom4" value="KL125(US)">
                                        </div>
                                        <h3 class="card-title mt-3">Dining Room 4</h3><div class="progress w-100" role="progressbar" aria-label="Example with label" aria-valuenow="5" aria-valuemin="0" aria-valuemax="100">
                                                <div class="progress-bar" style="width:5%; background-color: #ffd452b8;"></div>
                                            </div>
                                            <p class="card-text">0 Watts</p>
                                             </div>
                                </div>
                            </div>
                            <div class="col-3 my-3">
                                <div class="shadow card">
                                    <div class="card-body">
                                        <i class="bi bi-lamp mx-1" style="font-size: 6rem;"></i>
                                        <div class="form-check form-switch float-end">
                                            <input class="form-check-input" type="checkbox" role="switch" id="livingroom" checked>
                                            <label class="form-check-label" for="livingroom"></label>
                                            <input type="hidden" id="deviceAddr_livingroom" value="192.168.1.6">
                                            <input type="hidden" id="deviceMac_livingroom" value="40:ed:00:60:8f:99">
                                            <input type="hidden" id="deviceModel_livingroom" value="KL125(US)">
                                            <input type="hidden" id="deviceBrightness_livingroom" value="100">
                                        </div>
                                        <h3 class="card-title mt-3">Living Room</h3>
                                        <!-- <div class="progress w-100" role="progressbar" aria-label="Example with label" aria-valuenow="12" aria-valuemin="0" aria-valuemax="100">
                                            <div class="progress-bar" style="width:12%; background-color: #ffd452b8;"></div>
                                        </div>
                                        <p class="card-text">2 Watts</p> -->
                                        <label for="setBrightness_livingroom" class="form-label">Brightness</label>
                                        <input type="range" class="form-range brightness-input" min="0" max="100" step="1" value="100" id="setBrightness_livingroom">
                                    </div>
                                </div>
                            </div></div>
        </div>
        
        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 my-2 border-bottom"></div>
    
        <div class="row">
            <div id="hallway-list" class="row text-start">
                <h3>Hallway Lights</h3>
                <!-- DEVICE LIST -->
            
                            <div class="col-3 my-3">
                                <div class="shadow card">
                                    <div class="card-body">
                                        <i class="bi bi-lamp mx-1" style="font-size: 6rem;"></i>
                                        <div class="form-check form-switch float-end">
                                            <input class="form-check-input" type="checkbox" role="switch" id="hallway1" checked="">
                                            <label class="form-check-label" for="hallway1"></label>
                                            <input type="hidden" id="deviceAddr_hallway1" value="192.168.1.218">
                                            <input type="hidden" id="deviceMac_hallway1" value="40:ed:00:60:86:01">
                                            <input type="hidden" id="deviceModel_hallway1" value="KL125(US)">
                                        </div>
                                        <h3 class="card-title mt-3">Hallway 1</h3><div class="progress w-100" role="progressbar" aria-label="Example with label" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">
                                                <div class="progress-bar" style="width:100%; background-color: #ffd452b8;"></div>
                                            </div>
                                            <p class="card-text">10.8 Watts</p>
                                             </div>
                                </div>
                            </div>
                            <div class="col-3 my-3">
                                <div class="shadow card">
                                    <div class="card-body">
                                        <i class="bi bi-lamp mx-1" style="font-size: 6rem;"></i>
                                        <div class="form-check form-switch float-end">
                                            <input class="form-check-input" type="checkbox" role="switch" id="hallway2" checked="">
                                            <label class="form-check-label" for="hallway2"></label>
                                            <input type="hidden" id="deviceAddr_hallway2" value="192.168.1.215">
                                            <input type="hidden" id="deviceMac_hallway2" value="40:ed:00:90:11:21">
                                            <input type="hidden" id="deviceModel_hallway2" value="KL125(US)">
                                        </div>
                                        <h3 class="card-title mt-3">Hallway 2</h3><div class="progress w-100" role="progressbar" aria-label="Example with label" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">
                                                <div class="progress-bar" style="width:100%; background-color: #ffd452b8;"></div>
                                            </div>
                                            <p class="card-text">10.8 Watts</p>
                                             </div>
                                </div>
                            </div></div>
        </div>

        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 my-2 border-bottom"></div>

        <div class="row">
            <div id="bedroom-list" class="row text-start">
                <h3>Main Bedroom</h3>
                <!-- DEVICE LIST -->
                <div class="col-3 my-3">
                    <div class="shadow card">
                        <div class="card-body">
                            <i class="bi bi-lamp mx-1" style="font-size: 6rem;"></i>
                            <div class="form-check form-switch float-end">
                                <input class="form-check-input" type="checkbox" role="switch" id="bedroomlampl" checked="">
                                <label class="form-check-label" for="bedroomlampl"></label>
                                <input type="hidden" id="deviceAddr_bedroomlampl" value="192.168.1.184">
                                <input type="hidden" id="deviceMac_bedroomlampl" value="78:8c:b5:e8:7e:8b">
                                <input type="hidden" id="deviceModel_bedroomlampl" value="KL125(US)">
                                <input type="hidden" id="deviceBrightness_bedroomlampl" value="100">
                            </div>
                            <h3 class="card-title mt-3">Bedroom Lamp L</h3>
                            <!-- <div class="progress w-100" role="progressbar" aria-label="Example with label" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">
                                <div class="progress-bar" style="width:100%; background-color: #ffd452b8;"></div>
                            </div> -->
                            <label for="setBrightness_bedroomlampl" class="form-label">Brightness</label>
                            <input type="range" class="form-range brightness-input" min="0" max="100" step="1" value="100" id="setBrightness_bedroomlampl">
                            <!-- <p class="card-text">10.8 Watts</p> -->
                        </div>
                    </div>
                </div>
                <div class="col-3 my-3">
                    <div class="shadow card">
                        <div class="card-body">
                            <i class="bi bi-lamp mx-1" style="font-size: 6rem;"></i>
                            <div class="form-check form-switch float-end">
                                <input class="form-check-input" type="checkbox" role="switch" id="bedroomlampr" checked="">
                                <label class="form-check-label" for="bedroomlampr"></label>
                                <input type="hidden" id="deviceAddr_bedroomlampr" value="192.168.1.165">
                                <input type="hidden" id="deviceMac_bedroomlampr" value="78:8c:b5:e8:8e:e9">
                                <input type="hidden" id="deviceModel_bedroomlampr" value="KL125(US)">
                                <input type="hidden" id="deviceBrightness_bedroomlampr" value="100">
                            </div>
                            <h3 class="card-title mt-3">Bedroom Lamp R</h3>
                                <!-- <div class="progress w-100" role="progressbar" aria-label="Example with label" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">
                                    <div class="progress-bar" style="width:100%; background-color: #ffd452b8;"></div>
                                </div> -->
                            <label for="setBrightness_bedroomlampr" class="form-label">Brightness</label>
                            <input type="range" class="form-range brightness-input" min="0" max="100" step="1" value="100" id="setBrightness_bedroomlampr">
                            <!-- <p class="card-text">10.8 Watts</p> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 my-2 border-bottom"></div>

        <div class="row">
            <div id="outlet-list" class="row text-start">
                <h3>All Outlets</h3>
                <!-- DEVICE LIST -->
            
                            <div class="col-3 my-3">
                                <div class="shadow card">
                                    <div class="card-body">
                                        <i class="bi bi-outlet mx-1" style="font-size: 6rem;"></i>
                                        <div class="form-check form-switch float-end">
                                            <input class="form-check-input" type="checkbox" role="switch" id="bedroomcharger" checked="">
                                            <label class="form-check-label" for="bedroomcharger"></label>
                                            <input type="hidden" id="deviceAddr_bedroomcharger" value="192.168.1.86">
                                            <input type="hidden" id="deviceMac_bedroomcharger" value="48:22:54:34:2D:75">
                                            <input type="hidden" id="deviceModel_bedroomcharger" value="HS103(US)">
                                        </div>
                                        <h3 class="card-title mt-3">Bedroom Charger</h3><p class="card-text">Oct 18, 23 at 07:14 AM</p> </div>
                                </div>
                            </div>
                            <div class="col-3 my-3">
                                <div class="shadow card">
                                    <div class="card-body">
                                        <i class="bi bi-outlet mx-1" style="font-size: 6rem;"></i>
                                        <div class="form-check form-switch float-end">
                                            <input class="form-check-input" type="checkbox" role="switch" id="kitchenoutlet">
                                            <label class="form-check-label" for="kitchenoutlet"></label>
                                            <input type="hidden" id="deviceAddr_kitchenoutlet" value="192.168.1.138">
                                            <input type="hidden" id="deviceMac_kitchenoutlet" value="48:22:54:34:3A:F5">
                                            <input type="hidden" id="deviceModel_kitchenoutlet" value="HS103(US)">
                                        </div>
                                        <h3 class="card-title mt-3">Kitchen Outlet</h3><p class="card-text">device turned off</p> </div>
                                </div>
                            </div></div>
        </div>

    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        
        // Enter fullscreen
        document.getElementById("toggleFullscreen").addEventListener("click", function() {
            // If not in fullscreen mode, enter fullscreen.
            if (!document.fullscreenElement && !document.webkitFullscreenElement) {
                const elem = document.documentElement;

                if (elem.requestFullscreen) {
                    elem.requestFullscreen();
                } else if (elem.webkitRequestFullscreen) { /* For Chrome */
                    elem.webkitRequestFullscreen();
                }
            } else {
                // If in fullscreen mode, exit.
                if (document.exitFullscreen) {
                    document.exitFullscreen();
                } else if (document.webkitExitFullscreen) { /* For Chrome */
                    document.webkitExitFullscreen();
                }
            }
        });

        $(document).ready(function(){

            var timeoutId = null;

            $('.brightness-input').on('input', function () {
                var id = $(this).attr('id');
                var deviceNewBrightness = $(this).val();
                id = id.replace('setBrightness_', '');
                var deviceAddr = $(`#deviceAddr_${id}`).val();
                var deviceMac = $(`#deviceMac_${id}`).val();
                var deviceModel = $(`#deviceModel_${id}`).val();
                var devicebrightness = $(`#deviceBrightness_${id}`).val();

                // Clear the previous timeout if it exists
                if (timeoutId !== null) {
                    clearTimeout(timeoutId);
                }

                // Set a new timeout
                timeoutId = setTimeout(function () {
                    $.ajax({
                        url: '/change_brightness',
                        type: 'POST',
                        data: {
                            'id': id,
                            'deviceAddr': deviceAddr,
                            'deviceMac': deviceMac,
                            'deviceModel': deviceModel,
                            'devicebrightness': devicebrightness,
                            'deviceNewBrightness': deviceNewBrightness
                        },
                        success: function (response) {
                            console.log('Success:', response);
                        },
                        error: function (xhr, status, error) {
                            console.log('Error:', error);
                        },
                    });
                }, 1000); // Wait 1 second before sending the request
            });


            $("#device-list").on("click", ".btn-toggle", function(event) {
                event.preventDefault(); // Prevents the default action
                $(this).find('.btn').toggleClass('active');  
                if ($(this).find('.btn-primary').length>0) {
                    $(this).find('.btn').toggleClass('btn-primary');
                }
                $(this).find('.btn').toggleClass('btn-default');
            });
            
            // TOGGLE DEVICE
            $(document).on('click', '.form-check-input', function() {

                var id = $(this).attr('id');
                var isChecked = $(this).prop('checked');
                var deviceAddr = $(`#deviceAddr_${id}`).val();
                var deviceMac = $(`#deviceMac_${id}`).val();
                var deviceModel = $(`#deviceModel_${id}`).val();
                
                $.ajax({
                    url: '/toggle_light',
                    type: 'POST',
                    data: {
                        'id': id,
                        'status': isChecked,
                        'deviceAddr': deviceAddr,
                        'deviceMac': deviceMac,
                        'deviceModel': deviceModel
                    },
                    success: function(response) {
                        console.log(response);
                    },
                    error: function(xhr, status, error) {
                        console.error("Error occurred:", error);
                    }
                });
            
            });

        });
    </script>

</body>
</html>